<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <form class="bot-creator-form" action="/" method="post" enctype="application/x-www-form-urlencoded">
      <input type="text" name="title" value="" placeholder="Blog Title" />
      <input type="text" name="task" value="" placeholder="Task Number" />
      <select name="publisher" required>
        <option value="Calabasas Apparel,https://calabasasapparel.net/blogs/news">Calabasas Apparel</option>
      </select>
      <input type="submit" value="Submit" />
    </form>
    <ul>
      <% tasks.forEach(function(_task, i){%>
      <li><%= _task.task %> - <%= _task.title %> - <%= _task.publisher.name %> - <%= _task.published %></li>
      <%})%>
    </ul>
  </body>
</html>
