<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <form class="bot-creator-form" action="/" method="post" enctype="application/x-www-form-urlencoded">
      <input type="text" name="title" value="" placeholder="Blog Title" />
      <input type="text" name="task" value="" placeholder="Task Number" />
      <select name="publisher" required>
        <option value="South Florida Reporter,https://mongoosejs.com/docs/guide.html1">South Florida Reporter</option>
        <option value="Pinstripe Mag,https://mongoosejs.com/docs/guide.html2">Pinstripe Mag</option>
        <option value="Public Safety Reporter,https://mongoosejs.com/docs/guide.html13">Public Safety Reporter</option>
      </select>
      <input type="submit" value="Submit" />
    </form>
    <ul>
      <% tasks.forEach(function(_task, i){%>
      <li><%= _task.task %> - <%= _task.title %> - <%= _task.publisher.name %> - <%= _task.published %></li>
      <%})%>
    </ul>
  </body>
</html>
