<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <form class="bot-creator-form" action="/" method="post" enctype="application/x-www-form-urlencoded">
      <input type="text" name="title" value="" placeholder="Blog Title" />
      <input type="text" name="task" value="" placeholder="Task Number" />
      <select name="publisher" required>
        <!-- <option value="Calabasas Apparel,https://calabasasapparel.net/blogs/news">Calabasas Apparel</option> -->
        <option value="South Florida Reporter,https://southfloridareporter.com/logical-position/">South Florida Reporter</option>
        <option value="Sequins in the South,https://sequinsinthesouth.com/">Sequins in the South</option>
        <option value="Best Movies Right Now,https://bestmoviesrightnow.com/">Best Movies Right Now</option>
        <option value="Pinstripe Magazine,https://pinstripemag.com/">Pinstripe Magazine</option>
        <option value="The Everyday Dog Mom,https://www.everydaydogmom.com/archives/">The Everyday Dog Mom</option>
        <option value="DINE Magazine,https://www.dinemagazine.com/">DINE Magazine</option>
        <option value="Where You Came From,https://whereyoucamefrom.biz/blog/">Where You Came From</option>
        <option value="Planet Protein,https://www.planetprotein.com/blogs/blog">Planet Protein</option>
        <option value="GreenVille Journal,https://greenvillejournal.com/">GreenVille Journal</option>
        <option value="Upstate Business Journal,https://upstatebusinessjournal.com/author/morgan/">Upstate Business Journal</option>
        <option value="Ecos Paints,https://www.ecospaints.net/blog">Ecos Paints</option>
        <option value="Black Business,https://calabasasapparel.net/blogs/news">Black Business</option>
        <option value="Calabasas Apparel,https://www.blackbusiness.com/search?max-results=25">Calabasas Apparel</option>
        <option value="Low Income,https://www.lowincome.org/search?max-results=50">Low Income</option>
        <option value="Business Grants,https://www.businessgrants.org/search?max-results=10">Business Grants</option>
        <option value="Grants for Women,https://www.grantsforwomen.org/search?max-results=50">Grants for Women</option>
        <option value="Black History,https://www.blackhistory.com/search?updated-max=2020-12-31T18:50:00-07:00&max-results=25#">Black History</option>
        <!-- <option value="Calabasas Apparel,https://calabasasapparel.net/blogs/news">Calabasas Apparel</option> -->
        <!-- <option value="Calabasas Apparel,https://calabasasapparel.net/blogs/news">Calabasas Apparel</option> -->
        <!-- <option value="Calabasas Apparel,https://calabasasapparel.net/blogs/news">Calabasas Apparel</option> -->
      </select>
      <input type="submit" value="Submit" />
    </form>
    <ul>
      <% tasks.forEach(function(_task, i){%>
      <li><%= _task.task %> - <%= _task.title %> - <%= _task.publisher.name %> - <% if(_task.published){ %><span style="color:green;">PUBLISHED</span><% } else{ %><span style="color:red;">Unpublished</span><% } %></li>
      <%})%>
    </ul>
  </body>
</html>
